<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/game.js"></script>
    <link rel="stylesheet" href="../styles/game-styles.css"/>
    <title>Document</title>
</head>
<body>
    <div class="board-container" >
        <div id="board" class="board8">
        </div>
    </div>
</body>
</html>