<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>MyDraughts</title>
	<link rel="stylesheet" href="../styles/css/bootstrap.css">
	<link rel="stylesheet" href="../styles/css/superfish.css">
	<link rel="stylesheet" href="../styles/css/draughts.css">
</head>
<body>
    <div id="header">
        <header id="header-section">
            <div class="container">
                <div class="nav-header">
                    <h1 id="logo"><a href = '/'>Draughts</a></h1>
                    <nav id="menu-wrap" role="navigation">
                        <ul class="sf-menu" id="primary-menu">
                            <li>
                                <a><%= username.toUpperCase()%></a>
                                <ul class="sub-menu">
                                    <li><a href = '/mystats'>Statistics</a></li>
                                    <li><a>My account</a></li>
                                    <li><a href = '/logout'>Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>		
    </div>
    <div class ="table" style = 'height:340px'>
		<div class="table-row">
			<div class="table-elem">
                WINS
			</div>
			<div class="table-elem">
				DRAWS
			</div>
			<div class="table-elem">
				LOSSES
			</div>
		</div>
		<div class="table-row">
			<div class="table-elem">
				<%=wins%>
			</div>
			<div class="table-elem">
				<%=draws%>
			</div>
			<div class="table-elem">
				<%=losses%>
			</div>
        </div>
    </div>
</body>