<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MyDraughts</title>
    <link rel="stylesheet" href="../styles/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/css/superfish.css">
    <link rel="stylesheet" href="../styles/css/draughts.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var nick = '<%= locals.nick %>';
        var login = '<%= locals.login %>';
    </script>
    <script src="../scripts/tables.js"></script>
</head>
<body>
    <div id="header">
        <header id="header-section">
            <div class="container">
                <div class="nav-header">
                    <h1 id="logo"><a href = '/'>Draughts</a></h1>
                    <nav id="menu-wrap" role="navigation">
                        <ul class="sf-menu" id="primary-menu">
                            <li>
                                <a><%= locals.mynick.toUpperCase()%></a>
                                <ul class="sub-menu">
                                    <% if(locals.login.charAt(0) != '@') { %>
                                    <li><a href = '/mystats'>Statistics</a></li>
                                    <li><a>My account</a></li>
                                    <% } %>
                                    <li><a href = '/logout'>Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>		
    </div>
    <table id='tables' style = "width:512px;margin:auto;margin-top:70px">
    </table>    
</body>
</html>