<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
    function joinTable(tableId) {
        console.log(tableId);   
    }
    </script>
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Hostname</th>
            <th>Game type</th>
            <th></th>
        </tr>
        <% for(var table in locals.tables_data) { %>
            <tr>
                <td>
                    <%= locals.tables_data[table].hostname %>
                </td>
                <td>
                    <%= locals.tables_data[table].gametype %>
                </td>
                <td>
                    <button onclick="joinTable( '<%= locals.tables_data[table].id %>' )">Join</button>
                </td>
            </tr>
        <% } %>
    </table>
    </br>
    <form method="POST">
        <table>
            <tr>
                <td colspan=2>
                    <div align="center">Nowy stół:</div>
                </td>
            </tr>
            <tr>
                <th>Rodzaj gry:</th>
                <td>
                    <select name="game_type">
                        <option value="classic8x8">Classic 8x8</option>
                        <option value="classic10x10">Classic 10x10</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <div align="center">
                        <input type="submit", name="new_table">
                    </div>
                </td>
            </tr>
        </table>
        <input type="text", name="wololo">
    </form>
</body>
</html>