<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var socket = io("/table");

        socket.on('response', function(data) {
            console.log(data);
        });

        window.onload = function() {
            document.getElementById("b").addEventListener("click", function() {
                socket.emit('join-table', 'test');
            });
        }
    </script>
    <title>Document</title>
</head>
<body>
    <div id="f"></div>
    <ul id="messages"></ul>
    <input id="m" autocomplete="off" /><button id="b">Send</button>
</body>
</html>